html, body {
  height: 100%;
  margin: 0;
}
body{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
      flex: 1;
}

main {
        background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
        color: white;
    }

    .cronometro-container {
        max-width: 400px;
    }

    .btn {
        min-width: 100px;
    }