html, body {
  height: 100%;
  margin: 0;
}
body{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
      flex: 1;
}

      main {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    font-family: 'Arial', sans-serif;
}

.clock-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.date {
    font-size: 1.5rem;
}

.time {
    font-size: 4rem;
    font-weight: bold;
}

.seconds {
    font-size: 2rem;
    margin-left: 10px;
    color: #ccc;
}

.am-pm {
    font-size: 2rem;
    margin-left: 10px;
}